body {
    width: 100vw;
}

.formulaire-pret {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 0 5% 10px 5%;
}

.formulaire-pret form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    gap: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px;
}

.formulaire-pret form div {
    display: flex;
    flex-direction: column;
    background: white;
}