* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "sans-serif";
}

:root {
    --primary: #3f57a6;
    --secondary: grey;
    --tertiary: #ee2a24;
}

body {
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body section#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

header .header-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header-user .btn-login {
    color: white;
    text-decoration: none;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--secondary);
    z-index: 1;
}

header .header-user .profile {
    display: none;
}

header .header-user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

body section#footer {
    width: 100%;
    height: 100px;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5%;
    background: var(--primary);
    color: white;
}

main {
    width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

button.secondaire {
    background: var(--secondary);
    color: white;
}

button.terciaire {
    background: var(--tertiary);
    color: white;
}

button.transparent {
    background: transparent;
    color: white;
}

button:hover {
    background: var(--tertiary);
    color: black;
}

a {
    cursor: pointer;
}

a:hover {
    color: var(--tertiary);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input,
textarea {
    padding: 5px 10px;
    border-radius: 5px;
}