body {
background: #fff;
font-family: Montserrat, "sans-serif";
display: flex;
justify-content: center;
color: #303030;
}

.login {
width: 350px;
border: 1px solid;
border-radius: 8px;
padding: 0 50px 0 50px;
background: #DDDDEE;
color: #010C0C;
}

form {
padding-top: 40px
}

form div {
width: 100%;
display: flex;
flex-direction: column;
min-height: 50px;
margin-top: 15px;
}

form div > label {
margin-bottom: 7px;
font-weight: 600;
}

form div > input {
background: #FFFF;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: Montserrat, "sans-serif";
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input {
height: 30px;
padding-left: 10px;
}

background-position: right 10px top 50%;
background-repeat: no-repeat;
}

form div > input::placeholder {
color: white;
}

.labelp {
margin-top: 5px;
}

form p {
color: #010C0C; 
margin-top: 0px;
margin-left:90px
}

.bouton{
align-items:center;
margin-top: 20px;
}

form button {
width: 250;
max-width: 500px;
height: 30px;
font-weight: 700;
font-size: 20px;
background: white;
border: rgba(48, 48, 48, 0.5) solid 1px;
border-radius: 8px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
color: #303030;
}