body {
    width: 100vw;
}

main {
    margin: 0;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.register section {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    gap: 10px;
    border-radius: 20px;
}

.register section form {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.register form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register form .col-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.register form .col-2>* {
    width: 100%;
}

.register section .logo {
    width: 100px;
    height: 100px;
    align-self: center;
}

.register section .logo img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.register form .stayonline {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.register section .link-login {
    margin-top: 5%;
    text-align: right;
    font-size: 0.9em;
}

.register section form.active {
    display: flex;
}

.register form .form-group {
    display: flex;
    flex-direction: row;
}