<head>

</head>
<footer>
    <section>
        <h5>&copy; 2024, GpmoFinTech</h5>
        <h5>Tous droits réservés. <a>Mentions légales</a></h5>
    </section>
    <address>
        <h5>613 Léon-Harmel</h5>
        <h5>Granby, Québec J2G 3G6</h5>
    </address>
    <section>
        <h5>infos@gpmofintech.com</h5>
        <h5>+1 844-753-0015</h5>
        <h5>+1 844-753-0015</h5>
    </section>
    <section>
        <ul>
            <li><a>FAQ</a></li>
            <li><a href="./../page/contact.html">Nous joindre</a></li>
            <li><a>Aide</a></li>
        </ul>
    </section>
</footer>