<head>

</head>
<header>
    <a href="/">
        <img class="logo" src="./../../assets/logo.png" title="Logo GpmoFinTech" />
    </a>
    <div class="header-user">
        <a id="btn-login" class="btn-login visible" href="./../../page/login.html">Se connecter</a>
        <div id="profile" class="profile invisible">
            <div class="infos">
                <h3>Dowes Mbella</h3>
                <h4>dowes@yahoo.fr</h4>
            </div>
            <img src="./../../assets/user.png" title="Profile" />
            <div class="context-menu box-shadow">
                <a href="./../../page/profil.html">Mon profil</a>
                <a href="./../../page/dashboard.html">Tableau de bord</a>
                <a onclick="handleLogOut()">Deconnexion</a>
            </div>
        </div>
    </div>
</header>