<head>

</head>
<header>
    <a id="lnk-logo">
        <img id="img-logo" class="logo" title="Logo GpmoFinTech" />
    </a>
    <div class="header-user">
        <a id="btn-login" class="btn-login visible">Se connecter</a>
        <div id="profile" class="profile invisible">
            <div class="infos">
                <h3>Dowes Mbella</h3>
                <h4>dowes@yahoo.fr</h4>
            </div>
            <img id="img-profile" title="Profile" />
            <div class="context-menu box-shadow">
                <a id="lnk-profil">Mon profil</a>
                <a id="lnk-dashboard">Tableau de bord</a>
                <a id="lnk-parametrages">Parametrages</a>
                <a onclick="handleLogOut()">Deconnexion</a>
            </div>
        </div>
    </div>
</header>