<div class="approbations">
    <h3>Liste des prets</h3>
    <table>
        <thead>
            <tr>
                <th>Noms et prenoms</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="names">Guillaume Mbella</td>
                <td class="adresse">Douala - Cameroun</td>
                <td class="email">mbellaw@yahoo.fr</td>
                <td class="phone">+23764234044</td>
                <td class="montant">2.000</td>
                <td class="action"><button>Accorder</button></td>
            </tr>
        </tbody>
    </table>
</div>