<div class="client">
    <h3>Liste des clients</h3>
    <table>
        <thead>
            <tr>
                <th>Noms et prenoms</th>
                <th>Adresse</th>
                <th>Code postale</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Solde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="names">Guillaume Mbella</td>
                <td class="adresse">Douala - Cameroun</td>
                <td class="adresse">G1P 6H8</td>
                <td class="email">mbellaw@yahoo.fr</td>
                <td class="phone">+23764234044</td>
                <td class="montant">2.000</td>
            </tr>
        </tbody>
    </table>
</div>