<div class="durees">
    <form>
        <div class="form-group">
            <input type="text" placeholder="Intitule">
        </div>
        <div class="form-group">
            <input type="number" placeholder="Valeur">
        </div>
        <div class="form-group">
            <select aria-placeholder="Unite">
                <option value="semaine">Semaines</option>
                <option value="mois">Mois</option>
                <option value="annee">Annees</option>
            </select>
        </div>
        <button>Ajouter</button>
    </form>
    <h3>Liste des durees</h3>
    <table>
        <thead>
            <tr>
                <th>Intitule</th>
                <th>Value</th>
                <th>Unite</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="intitule">01 mois</td>
                <td class="value">1</td>
                <td class="unite">mois</td>
            </tr>
            <tr>
                <td class="intitule">02 mois</td>
                <td class="value">2</td>
                <td class="unite">mois</td>
            </tr>
            <tr>
                <td class="intitule">03 mois</td>
                <td class="value">3</td>
                <td class="unite">mois</td>
            </tr>
        </tbody>
    </table>
</div>