<div class="utilisateur">
    <h3>Liste des utilisateurs</h3>
    <table>
        <thead>
            <tr>
                <th>Noms et prenoms</th>
                <th>Email</th>
                <th>Role</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="names">Dowes Mbella</td>
                <td class="email">dowesw@yahoo.fr</td>
                <td class="role">Utilisateur</td>
                <td class="statut">Désactivé</td>
            </tr>
        </tbody>
    </table>
</div>